select(
	id='filters'
	class='form-control'
)
	option(
		class='form-control'
		value='B09001_001E')
		= 'Children'
	option(
		class='form-control'
		value='B19326_002E')
		= 'Median income in the past 12 months'
	option(
		class='form-control'
		value='DP03_0015M')
		= 'xyz'
